<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8d67ef10-5ee4-4124-a275-079c2bf89b49/resourcegroups/granthalaya20240325113910ResourceGroup/providers/Microsoft.Web/sites/granthalaya</ResourceId>
    <ResourceGroup>granthalaya20240325113910ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/8d67ef10-5ee4-4124-a275-079c2bf89b49/resourceGroups/granthalaya20240325113910ResourceGroup/providers/Microsoft.ApiManagement/service/granthalayaapi/apis/granthalaya</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://granthalaya.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0dae4751-1e3d-4c0d-8ccb-b557d4b0f575</ProjectGuid>
    <MSDeployServiceURL>granthalaya.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>granthalaya</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$granthalaya</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>